{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="flex flex-1">
        <div class="w-5/12 mx-auto">
            <div class="bg-white border p-5">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <div class="mb-3">
                        <input type="submit" class="bg-teal-500 hover:bg-teal-800 text-white px-3 py-2 rounded w-full">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}